.modal-open {
    overflow: hidden;
  }
  
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  
  .modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  
  .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.6;
  }
  
  .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 24px;
    border-bottom: 0 solid #eaecee;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    padding: 18px;
  }
  
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding: 18px;
    border-top: 0 solid #eaecee;
  }
  
  .modal-footer > :not(:first-child) {
    margin-left: .25rem;
  }
  
  .modal-footer > :not(:last-child) {
    margin-right: .25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 30px auto;
    }
    .modal-sm {
      max-width: 300px;
    }
  }
  
  @media (min-width: 992px) {
    .modal-lg {
      max-width: 1000px;
      margin: 30px auto;
    }
  }

  .modal-content {
    border-radius: 0;
  }
  
  .modal-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .modal-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 1px;
  }
  
  .modal-dialog.modal-dialog-top {
    margin-top: 0 !important;
  }
  
  .modal.fade .modal-dialog {
    transition-duration: .35s;
  }
  
  .modal.fade .modal-dialog.modal-dialog-popin {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  
  .modal.fade .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  
  .modal.fade .modal-dialog.modal-dialog-slideup {
    -webkit-transform: translate(0, 25%);
            transform: translate(0, 25%);
  }
  
  .modal.fade .modal-dialog.modal-dialog-slideright {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  
  .modal.fade .modal-dialog.modal-dialog-slideleft {
    -webkit-transform: translate(25%, 0);
            transform: translate(25%, 0);
  }
  
  .modal.fade .modal-dialog.modal-dialog-fromright {
    -webkit-transform: translateX(25%) rotate(15deg) scale(0.8);
            transform: translateX(25%) rotate(15deg) scale(0.8);
  }
  
  .modal.fade .modal-dialog.modal-dialog-fromleft {
    -webkit-transform: translateX(-25%) rotate(-15deg) scale(0.8);
            transform: translateX(-25%) rotate(-15deg) scale(0.8);
  }
  
  .modal.show .modal-dialog.modal-dialog-popin, .modal.show .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  
  .modal.show .modal-dialog.modal-dialog-slideup, .modal.show .modal-dialog.modal-dialog-slideright, .modal.show .modal-dialog.modal-dialog-slideleft {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  
  .modal.show .modal-dialog.modal-dialog-fromright, .modal.show .modal-dialog.modal-dialog-fromleft {
    -webkit-transform: translateX(0) rotate(0) scale(1);
            transform: translateX(0) rotate(0) scale(1);
  }