.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height:300px
}
    .tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: middle;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
}